@import url(https://fonts.googleapis.com/css?family=Sofia);

body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-family: "Sofia", Georgia;
  font-size: 5rem;
  color: #DBEDF3;
  text-shadow: 3px 0 #DA0463;
}

.w {
  background-color: rgb(206, 167, 183);
}

.a {
  background-color: rgb(194, 158, 220);
}

.s {
  background-color: rgb(141, 209, 226);
}

.d {
  background-color: rgb(109, 221, 109);
}

.j {
  background-color: rgb(233, 233, 120);
}

.k {
  background-color: rgb(235, 193, 116);
}

.l {
  background-color: rgb(228, 113, 113);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-family: "Sofia", monospace;
  font-size: 5rem;
  line-height: 1;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  box-shadow: 7px 4px 3px rgb(0, 0, 0);
}